.min-height-30{
    min-height: 30px;
}
.min-height-100{
    min-height: 100px;
}
.home-page-image{
    background: #f5bc04 url('images/beauty-salon.jpg');
    
}
.pb-25{
    padding-bottom: 25px;
}
.img-white-home{
    /*float:right;*/
    /*padding-right:100px;*/
    /*width:400px;*/
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 8px;
}
.theme-color{
	/*color: 	#f5bc04 !important;*/
	color: 	#D4AF37 !important;
}

@media(max-width: 600px) {
    
	.img-white-home{
	    /*float:right;*/
	    /*padding-right:10px;*/
	    /*width:300px;*/
	    /*height:500px;*/

	    
	}
	.mt-25{
		margin-top: 75px;
	}
}
	@media only screen and (min-width: 600px) {
	    .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
          padding: 8px;
        }
	}
	@media only screen and (max-width: 768px){
	    .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
          padding: 8px;
        }
        .mt-30 {margin-top :30px;}
        .fh5co_latest_trading_img>img{
            height:250px;
            
        }

	}

			/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (min-width: 768px){
	    	    .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
          padding: 8px;
        }

	}

	/* Large devices (laptops/desktops, 992px and up) */
	@media only screen and (min-width: 992px) {
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
          padding: 8px;
        }

	}